.chat-main
  .chat-main__header
    .chat-main__header__left
      %h2.chat-main__header__left__groupname
        = @group.name
      %ul.chat-main__header__left__memberlist 
        Member : 
        %li.chat-main__header__left__memberlist--member 
          - @users.each do |user|
            = user.name
    = link_to "Edit", edit_group_path(@group), method: :get, class: "chat-main__header__edit"
        
  .chat-main__list
    = render @messages

  .chat-main__form
    = form_for [@group, @message] do |f|
      .form__box
        = f.text_field :content, class: 'form__box__message', placeholder: 'type a message'
        = f.label :image, class: 'form__box__image' do
          = icon('fas', 'photo-video')
          = f.file_field :image, class: 'form__box__image__hidden'
      = f.submit 'Send', class: 'form__send--btn'