.side-bar
  .side-bar__user
    .top-items
      .top-items__name 
        = current_user.name
      .top-items__icon
        = link_to new_group_path do
          = icon('fas', 'edit', class: 'icon')
        = link_to groups_path do
          =link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group__list
        = link_to group_messages_path(group) do
          .side-bar__group__list__name 
            = group.name
          .side-bar__group__list__notification 
            メッセージありません
  